@import "../styles/variables.scss";

.containerMap{
  width: 100%;
  height: 500px;
  position: absolute;
  top: 100px;
  right: 0;
  background-color: transparent;

  .ModalSimulate{
    background: $color-primary-blue;
    position: absolute;
    top: 60px;
    left: 16px;
    z-index: 10;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: $color-primary-white;
    border-radius: 8px;

    .btnSimulateStart{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      button{
        padding: .5rem 1rem;
        border: none;
        background: $color-primary-white;
        border-radius: 8px;
      }
    }
  }
}
